<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{farmer?.farmer?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="farmer">

  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Personal Information</ion-title>
      <a class="btn btn-primary btn-sm" routerLink="/app/tabs/farmerlist/capturefarmer/{{farmer?.objid}}">
        <i class="fas fa-edit">
        </i>
        Edit
      </a>
    </nav>
  </ion-toolbar>
  <div>
    <ion-item>
      <ion-label><strong>Farmer Name:</strong> {{farmer.farmer.name}}</ion-label>
      <ion-thumbnail slot="end" *ngIf="farmer.spouse.photo">
        <img [src]="farmer.farmer.photo"/>
      </ion-thumbnail>
    </ion-item>

    <ion-item *ngIf="farmer.maidenname">
      <ion-label><strong>Maiden Name:</strong> {{farmer.maidenname}}</ion-label>
    </ion-item>

    <ion-item *ngIf="farmer.nameextension">
      <ion-label><strong>Name Extension:</strong> {{farmer.nameextension}}</ion-label>
    </ion-item>

    <ion-item *ngIf="farmer.prenametitle">
      <ion-label><strong>Pre Name Title:</strong> {{farmer.prenametitle}}</ion-label>
    </ion-item>

    <ion-item *ngIf="farmer.postnametitle">
      <ion-label><strong>Post Name Title:</strong> {{farmer.postnametitle}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><strong>Gender:</strong> {{farmer.farmer.gender}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><strong>Birth Date:</strong> {{farmer.farmer.birthdate | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><strong>Civil Status:</strong> {{farmer.farmer.civilstatus}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><strong>Address:</strong> {{farmer.farmer.address.text}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><strong>Spouse:</strong> {{farmer?.spouse?.name}}</ion-label>
      <ion-thumbnail slot="end" *ngIf="farmer.spouse.photo">
        <img [src]="farmer.spouse.photo"/>
      </ion-thumbnail>
      <a class="btn btn-primary btn-sm" routerLink="/app/tabs/farmerlist/capturefarmer/spouse/{{farmer?.objid}}">
        <i class="fas fa-edit">
        </i>
        Edit
      </a>
    </ion-item>
  </div>


  <form [formGroup]="farmerPersonalProfileForm">
    <ion-toolbar color="primary">
      <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ion-title>Farmer Affiliation</ion-title>
      </nav>
    </ion-toolbar>
    <!-- {{farmerPersonalProfileForm.value | json}} -->
    <ion-item>
      <ion-label>4P's Beneficiary</ion-label>
      <ion-toggle formControlName="is4ps"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>IP Member</ion-label>
      <ion-toggle formControlName="isIP"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Farmer Association Member</ion-label>
      <ion-toggle formControlName="isFarmerAssociationMember"></ion-toggle>
    </ion-item>
  </form>
  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Farm Locations</ion-title>
      <a class="btn btn-primary btn-sm" routerLink="/app/tabs/farmerlist/farmlocationdetail/{{farmer?.objid}}">
        <i class="fas fa-plus">
        </i>
        Add
      </a>
    </nav>
  </ion-toolbar>
  <ion-list #farmerList>
    <ion-item-sliding *ngFor="let item of farmer?.farmlocations" #slidingItem>
      <ion-item routerLink="/app/tabs/farmerlist/farmlocationdetail/{{farmer?.objid}}/{{item.objid}}">
        <ion-label>
          <h3>{{item.location.text}}</h3>
          <p>
            Area(sqm) : {{item.areasqm}} <br>
            Mode of Acquisition : {{item.modeofacquisition}}
          </p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options>
          <a class="btn btn-app btn-danger btn-sm" (click)="deleteFarmer(slidingItem, item, 'Delete Farmer')">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>
       
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="farmer?.farmlocations?.length > 0">
    No Livestock Found
  </ion-list-header>
  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Farm Facilities</ion-title>
      <a class="btn btn-primary btn-sm" href="#">
        <i class="fas fa-plus">
        </i>
        Add
      </a>
    </nav>
  </ion-toolbar>
  <ion-list #farmerList>
    <ion-item-sliding *ngFor="let item of farmer?.farmfacilities" #slidingItem>
      <ion-item routerLink="/app/tabs/farmerlist/farmfacilitydetail/{{farmer?.objid}}/{{item.objid}}">
        <ion-label>
          <h3>{{item.facility.name}}</h3>
          <p>
            Quantity : {{item.quantity}} <br>
            Mode of Acquisition : {{item.modeofacquisition}}
          </p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options>
          <a class="btn btn-app btn-danger btn-sm" (click)="deleteFarmer(slidingItem, item, 'Delete Farmer')">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>
       
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="farmer?.farmfacilities?.length > 0">
    No Livestock Found
  </ion-list-header>
  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Farmer Assistances</ion-title>
      <a class="btn btn-primary btn-sm" href="#">
        <i class="fas fa-plus">
        </i>
        Add
      </a>
    </nav>
  </ion-toolbar>
  <ion-list #farmerList>
    <ion-item-sliding *ngFor="let item of farmer?.farmerassistances" #slidingItem>
      <ion-item routerLink="/app/tabs/farmerlist/farmerassistancedetail/{{farmer?.objid}}/{{item.objid}}">
        <ion-label>
          <h3>{{item.assistancetype.name}}</h3>
          <p>
            Unit of Measure : {{item.assistancetype.unitofmeasure}} <br>
            Quantity : {{item.qty}} <br>
            Transaction Date : {{item.txndate}} <br>
            Survey Period : {{item.surveyperiod.name}}
          </p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options>
          <a class="btn btn-app btn-danger btn-sm" (click)="deleteFarmer(slidingItem, item, 'Delete Farmer')">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>
       
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="farmer?.farmerassistances?.length > 0">
    No Livestock Found
  </ion-list-header>
</ion-content>