<ion-header>
  <ion-toolbar>
    <ion-title>Livestock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{currentmastertype}}</h3>
           
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 300px;">
                <div class="input-group-append" *ngIf="prevmastertype">
                  <button class="btn btn-default" (click)="prevItems()">back to {{prevmastertype}} <i class="fas fa-arrow-left"></i></button>
                </div>
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th *ngIf="currentmastertype == 'Commodity Type'">Unit of Measure</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items" (click)="itemSelected(item)">
                  <td>{{item.name}}</td>
                  <td>{{item.code}}</td>
                  <td *ngIf="item.unit">{{item.unit}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</ion-content>