<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Farm Location Commodity</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" *ngIf='viewEntered'>
  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Commodity Detail</ion-title>
      <a class="btn btn-primary btn-sm" (click)="save()">
        <i class="fas fa-save">
        </i>
        Save
      </a>
    </nav>
  </ion-toolbar>
  <form [formGroup]="commodityForm">
    <!-- {{commodityForm.value | json}} -->
    <div formGroupName="commodity">
      <ion-item>
        <ion-label position="floating">Commodity</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onCommodityChange()">
          <ion-select-option *ngFor="let item of commodities" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.commodity">
        <ng-container
        *ngIf="(isSubmitted && commodityForm.get('commodity.objid')?.hasError(validation.type)) || (commodityForm.get('commodity.objid')?.hasError(validation.type) && (commodityForm.get('commodity.objid')?.dirty || commodityForm.get('commodity.objid')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
    <div formGroupName="commoditytype">
      <ion-item>
        <ion-label position="floating">Commodity Type</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onCommodityTypeChange()">
          <ion-select-option *ngFor="let item of commoditytypes" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.commoditytype">
        <ng-container
        *ngIf="(isSubmitted && commodityForm.get('commoditytype.objid')?.hasError(validation.type)) || (commodityForm.get('commoditytype.objid')?.hasError(validation.type) && (commodityForm.get('commoditytype.objid')?.dirty || commodityForm.get('commoditytype.objid')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
    <div formGroupName="variety">
      <ion-item>
        <ion-label position="floating">Variety</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" >
          <ion-select-option *ngFor="let item of varieties" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.variety">
        <ng-container
        *ngIf="(isSubmitted && commodityForm.get('variety.objid')?.hasError(validation.type)) || (commodityForm.get('variety.objid')?.hasError(validation.type) && (commodityForm.get('variety.objid')?.dirty || commodityForm.get('variety.objid')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
   <ion-item>
      <ion-label position="floating">Area (sqm)</ion-label>
      <ion-input autocapitalize type="number" formControlName="areasqm"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.areasqm">
      <ng-container
      *ngIf="(isSubmitted && commodityForm.get('areasqm')?.hasError(validation.type)) || (commodityForm.get('areasqm')?.hasError(validation.type) && (commodityForm.get('areasqm')?.dirty || commodityForm.get('areasqm')?.touched))">
      <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>
    <div formGroupName="surveyperiod">
      <ion-item>
        <ion-label position="floating">Survey Period</ion-label>
        <ion-select placeholder="Select One" formControlName="objid">
          <ion-select-option *ngFor="let item of surveyperiods" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.surveyperiod">
        <ng-container
        *ngIf="(isSubmitted && commodityForm.get('surveyperiod')?.hasError(validation.type)) || (commodityForm.get('surveyperiod')?.hasError(validation.type) && (commodityForm.get('surveyperiod')?.dirty || commodityForm.get('surveyperiod')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
  </form>
</ion-content>