<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Maguuma</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-list-header>
      <ion-label *ngIf="syncProgress == 0">Initializing Entity Sync</ion-label>
      <ion-label *ngIf="syncProgress > 0">Entity Sync in progress at {{(syncProgress * 100).toFixed(2)}}%</ion-label>
    </ion-list-header>
    <ion-progress-bar type="indeterminate" *ngIf="syncProgress == 0"></ion-progress-bar>
    <ion-progress-bar [value]="syncProgress" *ngIf="syncProgress > 0"></ion-progress-bar>
    <ion-img src="/assets/banner.jpg"></ion-img>
    <!-- <ion-card-header>
      <ion-card-subtitle>MIS Wall</ion-card-subtitle>
      <ion-card-title>Maguuma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>still working on logo</p>
    </ion-card-content> -->
  </ion-card>
  <!-- <h1>TEST</h1> -->
  <!-- <example></example>
  <map></map> -->
</ion-content>
