<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isspouse">Capture Farmer {{farmerPersonalInformationForm.get('lastname').value + ', ' + farmerPersonalInformationForm.get('firstname').value + ' ' + farmerPersonalInformationForm.get('middlename').value}}</ion-title>
    <ion-title *ngIf="isspouse">Capture Farmer (Spouse) {{farmerPersonalInformationForm.get('lastname').value + ', ' + farmerPersonalInformationForm.get('firstname').value + ' ' + farmerPersonalInformationForm.get('middlename').value}}</ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isbeginning" (click)="prev()">
        <ion-icon slot="start" name="arrow-back"></ion-icon> Prev
      </ion-button>
      <ion-button *ngIf="isbeginning">
        <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isend" (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isend && allowsave" (click)="save()">Save <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="viewEntered">
  <ion-slides #farmProfileSlider pager='true' (ionSlideWillChange)="slideChanged()" (ionSlidesDidLoad)="slideLoad()">
    <ion-slide>
      <form [formGroup]="farmerPersonalInformationForm">
        <!-- {{farmerPersonalInformationForm.value | json}} -->
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Farmer</ion-title>
          </nav>
        </ion-toolbar>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="lastname"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.lastname">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('lastname')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('lastname')?.hasError(validation.type) && (farmerPersonalInformationForm.get('lastname')?.dirty || farmerPersonalInformationForm.get('lastname')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="firstname"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.firstname">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('firstname')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('firstname')?.hasError(validation.type) && (farmerPersonalInformationForm.get('firstname')?.dirty || farmerPersonalInformationForm.get('firstname')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Middle Name</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="middlename"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.middlename">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('middlename')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('middlename')?.hasError(validation.type) && (farmerPersonalInformationForm.get('middlename')?.dirty || farmerPersonalInformationForm.get('middlename')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Maiden Name</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="maidenname"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.maidenname">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('maidenname')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('maidenname')?.hasError(validation.type) && (farmerPersonalInformationForm.get('maidenname')?.dirty || farmerPersonalInformationForm.get('maidenname')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Name Extension</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="nameextension"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.nameextension">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('nameextension')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('nameextension')?.hasError(validation.type) && (farmerPersonalInformationForm.get('nameextension')?.dirty || farmerPersonalInformationForm.get('nameextension')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Pre Name Title</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="prenametitle"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.prenametitle">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('prenametitle')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('prenametitle')?.hasError(validation.type) && (farmerPersonalInformationForm.get('prenametitle')?.dirty || farmerPersonalInformationForm.get('prenametitle')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Post Name Title</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="postnametitle"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.postnametitle">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('postnametitle')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('postnametitle')?.hasError(validation.type) && (farmerPersonalInformationForm.get('postnametitle')?.dirty || farmerPersonalInformationForm.get('postnametitle')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Birth Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthdate" placeholder="Select Date">
          </ion-datetime>
        </ion-item>
        <div *ngFor="let validation of validation_messages.birthdate">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('birthdate')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('birthdate')?.hasError(validation.type) && (farmerPersonalInformationForm.get('birthdate')?.dirty || farmerPersonalInformationForm.get('birthdate')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select placeholder="Select One" formControlName="gender">
            <ion-select-option value="F">Female</ion-select-option>
            <ion-select-option value="M">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let validation of validation_messages.gender">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('gender')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('gender')?.hasError(validation.type) && (farmerPersonalInformationForm.get('gender')?.dirty || farmerPersonalInformationForm.get('gender')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>
      </form>
    </ion-slide>
    <ion-slide *ngIf="matches?.length > 0">
      <div>
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Farmer Name Validation</ion-title>
          </nav>
        </ion-toolbar>
        <ion-list>
          <ion-list-header *ngIf="matches[0]?.match < 100">
            The system found {{matches.length}} profile(s) that matches
            {{farmerPersonalInformationForm.get('lastname').value}},
            {{farmerPersonalInformationForm.get('firstname').value}}
            {{farmerPersonalInformationForm.get('middlename')?.value}}. If this entity is not related to the list items
            you can proceed to the next form.
          </ion-list-header>
          <ion-list-header *ngIf="matches[0]?.match == 100">
            Their is a profile that exactly matches {{farmerPersonalInformationForm.get('lastname').value}},
            {{farmerPersonalInformationForm.get('firstname').value}}
            {{farmerPersonalInformationForm.get('middlename')?.value}}. This means that the entity already exist.
          </ion-list-header>
          <ion-item-sliding *ngFor="let item of matches" #slidingItem>
            <ion-item>
              <ion-label>
                <h3>{{item.farmer.name}}</h3>
                <p>
                  {{item.fno}} <br>
                  {{item.farmer.address.text}} <br>
                </p>

              </ion-label>
              <ion-note slot="end" color="primary">
                {{item.match | number : '.2-2'}}
              </ion-note>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="farmerPersonalInformationDetailForm">
        <!-- {{farmerPersonalInformationDetailForm.value | json}} -->
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Personal Information</ion-title>
          </nav>
        </ion-toolbar>
        <ion-item>
          <ion-label position="floating">Birth Place</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="birthplace"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.birthplace">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('birthplace')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('birthplace')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('birthplace')?.dirty || farmerPersonalInformationDetailForm.get('birthplace')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Citizenship</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="citizenship"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.citizenship">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('citizenship')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('citizenship')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('citizenship')?.dirty || farmerPersonalInformationDetailForm.get('citizenship')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Civil Status</ion-label>
          <ion-select placeholder="Select One" formControlName="civilstatus">
            <ion-select-option value="SINGLE">SINGLE</ion-select-option>
            <ion-select-option value="MARRIED">MARRIED</ion-select-option>
            <ion-select-option value="COUPLE">COUPLE</ion-select-option>
            <ion-select-option value="SEPARATED">SEPARATED</ion-select-option>
            <ion-select-option value="WIDOW">WIDOW/WIDOWER</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let validation of validation_messages.civilstatus">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('civilstatus')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('civilstatus')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('civilstatus')?.dirty || farmerPersonalInformationDetailForm.get('civilstatus')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Profession</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="profession"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.profession">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('profession')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('profession')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('profession')?.dirty || farmerPersonalInformationDetailForm.get('profession')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Tin</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="tin"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.tin">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('tin')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('tin')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('tin')?.dirty || farmerPersonalInformationDetailForm.get('tin')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">SSS</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="sss"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.sss">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('sss')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('sss')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('sss')?.dirty || farmerPersonalInformationDetailForm.get('sss')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Religion</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="religion"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.religion">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationDetailForm.get('religion')?.hasError(validation.type)) || (farmerPersonalInformationDetailForm.get('religion')?.hasError(validation.type) && (farmerPersonalInformationDetailForm.get('religion')?.dirty || farmerPersonalInformationDetailForm.get('religion')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <!-- <ion-item>
          <ion-label position="floating">Height (cm)</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" type="number" formControlName="height"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.height">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('height')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('height')?.hasError(validation.type) && (farmerPersonalInformationForm.get('height')?.dirty || farmerPersonalInformationForm.get('height')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Weight (kg)</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" type="number" formControlName="weight"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.weight">
          <ng-container
            *ngIf="(isSubmitted && farmerPersonalInformationForm.get('weight')?.hasError(validation.type)) || (farmerPersonalInformationForm.get('weight')?.hasError(validation.type) && (farmerPersonalInformationForm.get('weight')?.dirty || farmerPersonalInformationForm.get('weight')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div> -->
      </form>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="farmerContactInformationForm">
        <!-- {{farmerContactInformationForm.value | json}} -->
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Contact Information</ion-title>
          </nav>
        </ion-toolbar>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="tel"
            formControlName="phoneno"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.phoneno">
          <ng-container
            *ngIf="(isSubmitted && farmerContactInformationForm.get('phoneno')?.hasError(validation.type)) || (farmerContactInformationForm.get('phoneno')?.hasError(validation.type) && (farmerContactInformationForm.get('phoneno')?.dirty || farmerContactInformationForm.get('phoneno')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="tel"
            formControlName="mobileno"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.mobileno">
          <ng-container
            *ngIf="(isSubmitted && farmerContactInformationForm.get('mobileno')?.hasError(validation.type)) || (farmerContactInformationForm.get('mobileno')?.hasError(validation.type) && (farmerContactInformationForm.get('mobileno')?.dirty || farmerContactInformationForm.get('mobileno')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.email">
          <ng-container
            *ngIf="(isSubmitted && farmerContactInformationForm.get('email')?.hasError(validation.type)) || (farmerContactInformationForm.get('email')?.hasError(validation.type) && (farmerContactInformationForm.get('email')?.dirty || farmerContactInformationForm.get('email')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>
      </form>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="farmerAddressForm">
        <!-- {{farmerAddressForm.value | json}} -->
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Address</ion-title>
          </nav>
        </ion-toolbar>
        <div formGroupName="province">
          <ion-item>
            <ion-label position="floating">Province</ion-label>
            <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onProvinceChange()">
              <ion-select-option *ngFor="let province of provinces" value="{{province.objid}}">{{province.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let validation of validation_messages.province">
            <ng-container
              *ngIf="(isSubmitted && farmerAddressForm.get('province.objid')?.hasError(validation.type)) || (farmerAddressForm.get('province.objid')?.hasError(validation.type) && (farmerAddressForm.get('province.objid')?.dirty || farmerAddressForm.get('province.objid')?.touched))">
              <small class="text-danger">{{ validation.message }}</small>
            </ng-container>
          </div>
        </div>
        <div formGroupName="municipality">
          <ion-item>
            <ion-label position="floating">Municipality/City</ion-label>
            <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onMunicipalityChange()">
              <ion-select-option *ngFor="let municipality of municipalities" value="{{municipality.objid}}">
                {{municipality.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let validation of validation_messages.municipality">
            <ng-container
              *ngIf="(isSubmitted && farmerAddressForm.get('municipality.objid')?.hasError(validation.type)) || (farmerAddressForm.get('municipality.objid')?.hasError(validation.type) && (farmerAddressForm.get('municipality.objid')?.dirty || farmerAddressForm.get('municipality.objid')?.touched))">
              <small class="text-danger">{{ validation.message }}</small>
            </ng-container>
          </div>
        </div>
        <div formGroupName="barangay">
          <ion-item>
            <ion-label position="floating">Barangay</ion-label>
            <ion-select placeholder="Select One" formControlName="objid">
              <ion-select-option *ngFor="let barangay of barangays" value="{{barangay.objid}}">{{barangay.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let validation of validation_messages.barangay">
            <ng-container
              *ngIf="(isSubmitted && farmerAddressForm.get('barangay.objid')?.hasError(validation.type)) || (farmerAddressForm.get('barangay.objid')?.hasError(validation.type) && (farmerAddressForm.get('barangay.objid')?.dirty || farmerAddressForm.get('barangay.objid')?.touched))">
              <small class="text-danger">{{ validation.message }}</small>
            </ng-container>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">Street/Purok</ion-label>
          <ion-input class="text-uppercase" oninput="this.value = this.value.toUpperCase()" inputmode="text"
            formControlName="street"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.street">
          <ng-container
            *ngIf="(isSubmitted && farmerAddressForm.get('street')?.hasError(validation.type)) || (farmerAddressForm.get('street')?.hasError(validation.type) && (farmerAddressForm.get('street')?.dirty || farmerAddressForm.get('street')?.touched))">
            <small class="text-danger">{{ validation.message }}</small>
          </ng-container>
        </div>
      </form>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-toolbar color="primary">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <ion-title>Farmer Photo</ion-title>
            <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
              <ion-icon slot="start" name="camera"></ion-icon>
              Capture Photo
            </ion-button>
          </nav>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <img [src]="photo" />
          </ion-item>
        </ion-list>

      </div>

      <!-- <img [src]="photo"/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Capture Photo</ion-button> -->
    </ion-slide>
  </ion-slides>
</ion-content>
