<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Farm Livestock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar color='primary'>
    <!-- <ion-title>{{carm?.location?.text}}</ion-title> -->
  </ion-toolbar>
  <form [formGroup]="livestockForm">
    {{livestockForm.value | json}}
    <div formGroupName="breed">
      <ion-item>
        <ion-label position="floating">Breed</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onBreedChange()">
          <ion-select-option *ngFor="let item of livestockbreeds" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.province">
        <ng-container
          *ngIf="livestockForm.get('province')?.hasError(validation.type) && (livestockForm.get('province')?.dirty || livestockForm.get('province')?.touched)">
          <small class="error-message">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
    <div formGroupName="species">
      <ion-item>
        <ion-label position="floating">Specie</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onSpecieChange()">
          <ion-select-option *ngFor="let item of livestockspecies" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.province">
        <ng-container
          *ngIf="livestockForm.get('province')?.hasError(validation.type) && (livestockForm.get('province')?.dirty || livestockForm.get('province')?.touched)">
          <small class="error-message">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
   <ion-item>
      <ion-label position="floating">Seeding Qty</ion-label>
      <ion-input autocapitalize type="number" formControlName="seedingqty"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.areasqm">
      <ng-container
        *ngIf="livestockForm.get('areasqm')?.hasError(validation.type) && (livestockForm.get('areasqm')?.dirty || livestockForm.get('areasqm')?.touched)">
        <small class="error-message">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Seeding Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="seedingdate" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <div *ngFor="let validation of validation_messages.birthdate">
      <ng-container *ngIf="livestockForm.get('birthdate')?.hasError(validation.type) && (livestockForm.get('birthdate')?.dirty || livestockForm.get('birthdate')?.touched)">
          <small class="error-message">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Harvesting Qty</ion-label>
      <ion-input autocapitalize type="number" formControlName="harvestingqty"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.areasqm">
      <ng-container
        *ngIf="livestockForm.get('areasqm')?.hasError(validation.type) && (livestockForm.get('areasqm')?.dirty || livestockForm.get('areasqm')?.touched)">
        <small class="error-message">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Harvesting Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="harvestingdate" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <div *ngFor="let validation of validation_messages.birthdate">
      <ng-container *ngIf="livestockForm.get('birthdate')?.hasError(validation.type) && (livestockForm.get('birthdate')?.dirty || livestockForm.get('birthdate')?.touched)">
          <small class="error-message">{{ validation.message }}</small>
      </ng-container>
    </div>
    <div formGroupName="surveyperiod">
      <ion-item>
        <ion-label position="floating">Survey Period</ion-label>
        <ion-select placeholder="Select One" formControlName="objid">
          <ion-select-option *ngFor="let item of surveyperiods" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.province">
        <ng-container
          *ngIf="commodityForm.get('province')?.hasError(validation.type) && (commodityForm.get('province')?.dirty || commodityForm.get('province')?.touched)">
          <small class="error-message">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
  </form>
</ion-content>