<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Farm Location Livestock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf='viewEntered'>
  <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-title>Livestock Detail</ion-title>
      <a class="btn btn-primary btn-sm" (click)="save()">
        <i class="fas fa-save">
        </i>
        Save
      </a>
    </nav>
  </ion-toolbar>
  <form [formGroup]="livestockForm">
    <!-- {{livestockForm.value | json}} -->
    <div formGroupName="species">
      <ion-item>
        <ion-label position="floating">Specie</ion-label>
        <ion-select placeholder="Select One" formControlName="objid" (ionChange)="onSpecieChange()">
          <ion-select-option *ngFor="let item of livestockspecies" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.species">
        <ng-container
          *ngIf="(isSubmitted && livestockForm.get('species.objid')?.hasError(validation.type)) || (livestockForm.get('species.objid')?.hasError(validation.type) && (livestockForm.get('species.objid')?.dirty || livestockForm.get('species.objid')?.touched))">
          <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>

    <div formGroupName="breed">
      <ion-item>
        <ion-label position="floating">Breed</ion-label>
        <ion-select placeholder="Select One" formControlName="objid">
          <ion-select-option *ngFor="let item of livestockbreeds" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.breed">
        <ng-container
          *ngIf="(isSubmitted && livestockForm.get('breed.objid')?.hasError(validation.type)) || (livestockForm.get('breed.objid')?.hasError(validation.type) && (livestockForm.get('breed.objid')?.dirty || livestockForm.get('breed.objid')?.touched))">
          <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Seeding Qty</ion-label>
      <ion-input autocapitalize type="number" formControlName="seedingqty"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.seedingqty">
      <ng-container
        *ngIf="(isSubmitted && livestockForm.get('seedingqty')?.hasError(validation.type)) || (livestockForm.get('seedingqty')?.hasError(validation.type) && (livestockForm.get('seedingqty')?.dirty || livestockForm.get('seedingqty')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Seeding Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="seedingdate" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <div *ngFor="let validation of validation_messages.seedingdate">
      <ng-container
        *ngIf="(isSubmitted && livestockForm.get('seedingdate')?.hasError(validation.type)) || (livestockForm.get('seedingdate')?.hasError(validation.type) && (livestockForm.get('seedingdate')?.dirty || livestockForm.get('seedingdate')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Harvesting Qty</ion-label>
      <ion-input autocapitalize type="number" formControlName="harvestingqty"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.harvestingqty">
      <ng-container
      *ngIf="(isSubmitted && livestockForm.get('harvestingqty')?.hasError(validation.type)) || (livestockForm.get('harvestingqty')?.hasError(validation.type) && (livestockForm.get('harvestingqty')?.dirty || livestockForm.get('harvestingqty')?.touched))">
      <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Harvesting Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="harvestingdate" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <div *ngFor="let validation of validation_messages.harvestingdate">
      <ng-container
      *ngIf="(isSubmitted && livestockForm.get('harvestingdate')?.hasError(validation.type)) || (livestockForm.get('harvestingdate')?.hasError(validation.type) && (livestockForm.get('harvestingdate')?.dirty || livestockForm.get('harvestingdate')?.touched))">
      <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Remarks</ion-label>
      <ion-textarea placeholder="Enter more information here..." formControlName="remarks"></ion-textarea>
    </ion-item>
    <div *ngFor="let validation of validation_messages.remarks">
      <ng-container
      *ngIf="(isSubmitted && livestockForm.get('remarks')?.hasError(validation.type)) || (livestockForm.get('remarks')?.hasError(validation.type) && (livestockForm.get('remarks')?.dirty || livestockForm.get('remarks')?.touched))">
      <small class="text-danger">{{ validation.message }}</small>
      </ng-container>
    </div>

    <div formGroupName="surveyperiod">
      <ion-item>
        <ion-label position="floating">Survey Period</ion-label>
        <ion-select placeholder="Select One" formControlName="objid">
          <ion-select-option *ngFor="let item of surveyperiods" value="{{item.objid}}">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let validation of validation_messages.surveyperiod">
        <ng-container
        *ngIf="(isSubmitted && livestockForm.get('surveyperiod.objid')?.hasError(validation.type)) || (livestockForm.get('surveyperiod.objid')?.hasError(validation.type) && (livestockForm.get('surveyperiod.objid')?.dirty || livestockForm.get('surveyperiod.objid')?.touched))">
        <small class="text-danger">{{ validation.message }}</small>
        </ng-container>
      </div>
    </div>
  </form>
  <div *ngIf="livestock">
    <ion-toolbar color="primary">
      <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ion-title>Farm Locations</ion-title>
        <a *ngIf="!livestock.location" class="btn btn-primary btn-sm" routerLink="/app/tabs/farmerlist/farmlocationdetail/livestock/{{farmerid}}/{{livestockid}}">
          <i class="fas fa-plus">
          </i>
          Map Livestock
        </a>
        <a *ngIf="livestock.location" class="btn btn-primary btn-sm" (click)="unlinkLocation()">
          <i class="fas fa-trash">
          </i>
          Unlink Location
        </a>
      </nav>
    </ion-toolbar>
    <ion-list *ngIf="livestock.location">
      <!-- <ion-item-sliding *ngFor="let item of farmer?.farmlocations" #slidingItem> -->
      <ion-item routerLink="/app/tabs/farmerlist/farmlocationdetail/livestock/{{farmerid}}/{{livestockid}}">
        <ion-label>
          <h3>{{livestock.location.location.text}}</h3>
          <p>
            Area(sqm) : {{livestock.location.areasqm}} <br>
            Mode of Acquisition : {{livestock.location.modeofacquisition}}
          </p>
        </ion-label>
        <app-olmappreview *ngIf='livestock.location?.geolocation' slot="end" [farmlocation]='livestock.location'
          [farmerid]='farmerid'>
        </app-olmappreview>
        <ion-label *ngIf='!livestock.location?.geolocation' slot="end">No Map Available</ion-label>
      </ion-item>
      <!-- <ion-item-options>
        <a class="btn btn-app btn-danger btn-sm" (click)="presentAlertConfirm(item,deleteFarmLocation)">
          <i class="fas fa-trash-alt"></i>
          Delete
        </a>
      </ion-item-options> -->
      <!-- </ion-item-sliding> -->
    </ion-list>
    <ion-list-header [hidden]="livestock.location != null">
      No Location Found
    </ion-list-header>
  </div>
</ion-content>
